*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body{
    width: 100%;
    background-color: rgb(25, 0, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h1{
    color: tomato;
}

header .nav{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

header .nav .about, .rules{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    font-weight: 600;
}


header .nav .about:hover{
    text-shadow: 0px 0px 1.5px aliceblue;
    cursor: pointer;
}

header .nav .rules:hover{
    text-shadow: 0px 0px 1px aliceblue;
    cursor: pointer;
}

.container{
    margin-top: 5%;
    position: relative;
    height: 32rem;
    width: 32rem; 
    background-color: aliceblue;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
}

.container .buttons .start-btn{
    position: absolute;
    top:0%;
    left: 0%;
    padding: 5px 10px;
    background-color: transparent;
    color: tomato;
    border: 0px solid transparent;
    border-radius: 15px;
    backdrop-filter: blur(3px);
    transition: 0.3s;
    height: 32rem;
    width: 32rem;     
    font-size: 40px;
    font-weight: 600;
    z-index: 1000;
}

.container .buttons .start-btn:hover{
    cursor: pointer;
    text-shadow: 0px 0px 1px tomato;
    box-shadow: 0px 0px 15px tomato;
}

.fade{
    animation: fade 0.5s forwards;
}

.container .buttons .create-team-btn{
    visibility: visible;
    z-index: 50;
    position: absolute;
    top: 8%;
    left: 31%;
}

.container .buttons p{
    margin-top: .5em;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

.container .box{
    margin-top: 120px;
    padding: 25px 5px;
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 20px;
}

.container .btn{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: tomato;
    color: aliceblue;
    border: transparent;
    border-radius: 15px;
    font-weight: 600;
    transition: 0.3s;
}

.container .btn:hover{
    background-color: rgb(252, 63, 29); 
    cursor: pointer;
}

.container .box input{
    border: none;
    border-bottom: 0.5px solid black;
    background-color: transparent;
    color: tomato;
    padding-left: 5px;
}

.container .box .team1{
    border-right: 2px double black;
}

.container .box .team2{
    text-align: right;
    border-left: 2px double black;
}

.container .box .team2 input{
    text-align: right;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0.9;
    }
    20% {
        opacity: 0.8;
    }
    30% {
        opacity: 0.7;
    }
    40% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.4;
    }
    70% {
        opacity: 0.3;
    }
    80% {
        opacity: 0.2;
    }
    90% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
        visibility: collapse;
    }
}


/*RULES PAGE*/

.rules{
    padding: 0px 22px;
}

.rules .page strong{
    font-size: 25px;
}

.rules .page p{
    font-size: 18px;
    margin-bottom: 50px;
}

.page{
    margin-top: 50px;
}

.page p{
    color: aliceblue;    
}

.page strong{
    color: tomato;
}